<!doctype html>
<html>
  <head>
    <title>Coral Commons</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/bootstrap.sandstone.min.css" type="text/css">
    <link rel="stylesheet" href="/css/app.css" type="text/css">
    <script>
        window._firebaseRef = '{{firebaseRef}}';
    </script>
  </head>
  <body>
    <div id="app-host"></div>
    {{#if isProduction}}
      <script src="/src/main-built.js"></script>
    {{else}}
      <script src="/jspm_packages/system.js"></script>
      <script src="/jspm.config.js"></script>
      <script>
        System.import('main');
      </script>
    {{/if}}
  </body>
</html>
